body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #d0d8dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2c3e50;
}
.App-link {
  color: #61dafb;
}
.grid{
  height: 80vh;
  aspect-ratio: 1/1;
}
.row{
  display: flex;
}
.cell{
  display: flex;
  flex: 1;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
  color: white;
  text-shadow: 0 0 6px black;
}
.grid .cell{
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 3px;
  box-shadow: 3px 3px black;
  transition: all 0.5s;
}
.cell.theme-0{
  background-image: none !important;
}
.themes{
  width: 30vh;
  display: block;
}
.themes .cell{
  float: left;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  opacity: 0.5;
  transition: all 0.5s;

}
.themes input{
  display: none;
}
input:checked+.cell{
  opacity: 1;
}
.cell-null{
  border: none;
  box-shadow: none;
}
.error-box{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.error-box.error{
  transition: all 0.2s;
  opacity: 1;
  background-color:  rgba(255, 0, 0, 255);
}
.error-box.no-error{
  transition: all 1s;
  opacity: 0;  
  background-color: rgba(0, 0, 0, 0);
}
div button{
  margin-top: 20px;
}
button{
  color: #1a5276;
  padding: 10px 25px;
  white-space: nowrap;
  border-radius: 5px;
}
.aside {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.aside-right{
  right: 5%;
}
.aside-left{
  left: 5%;
  text-align: left;
}
.winBox{
  height: 10vh;
}
.winBox h2{
  margin: 0;
  padding: 0;
}